/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* REGOLE GENERALI */
.debug{
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;

}
header{
    display: flex;
    width: 100%;
    min-height: 100px;
    background-color: rgba(49,97,224,255);
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;  
}
.headerelement, li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
li{
    list-style: none;
    text-decoration: none;
    padding-bottom: 25px;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1, h2, h3, p, span{
    padding: 15px;
    max-width: 900px;
}
h1, h2, h3{
    font-family: 'Whitney Semibold', sans-serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 23px;
}
p{
    font-size: 20px;
}

footer{
    background-color: darkslategray;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
hr{
    background-color: aqua;
    width: 100%;
}
/* HEADER */

header .container{
    width: 1200px;
    min-height: 40px;
}
.logo{
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
}
.link{
    min-width: 800px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginheader{
    width: 200px;
    height: 40px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    border-radius: 15px;
    width: 70px;
    height: 25px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;
}
/* MAIN */

#section2, #section3, #section4{
    min-height: 600px;
}
#section1{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    min-height: 500px;
    color: white;
}
#section1 .container{
    width: 800px;
    min-height: 400px;
    flex-direction: column;
}
.download{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}
.downloadmac, .downloadmac2, .browser{
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    min-width: 150px;
    height: 30px;
    border-radius: 15px;
    font-family: 'Whitney Semibold', sans-serif;
    padding: 7px;
}
.downloadmac{
    background-color: white;
    color: black;
}
.browser{
    background-color:rgba(35,39,42,255) ;
    color: white;
}
#section2 .container1{
    width: 800px;
    min-height: 500px;
    background-color: cornflowerblue;
}
#section2 .container2{
    width: 500px;
    min-height: 500px;
    background-color: pink;
    flex-direction: column;
}
#section3 .container1{
    width: 500px;
    min-height: 500px;
    background-color: pink;
    flex-direction: column;
}
#section3 .container2{
    width: 800px;
    min-height: 500px;
    background-color: cornflowerblue;
}
#section3{
    background-color: lightgray;
}
#section4 .container1{
    width: 800px;
    min-height: 500px;
    background-color: cornflowerblue;
}
#section4 .container2{
    width: 500px;
    min-height: 500px;
    background-color: pink;
    flex-direction: column;
}
#section5{
    min-height: 900px;
    background-color: lightgray;
}
#section5 .container{
    width: 1300px;
    min-height: 800px;
    background-color: green;
    flex-direction: column;
}
.special-title{
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    text-align: center;
}
.downloadmac2{
    background-color:rgba(142,161,225,255) ;
    color: white;
    text-decoration: none;
}

/* FOOTER */

footer .container{
    width: 1300px;
    min-height: 600px;
}
.container .box1{
    width: 600px;
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 70px;
}
.container .box1 h3{
    color: purple;
}
.container .box{
    width: calc(100% / 4);
    background-color: deepskyblue;
    border: dashed white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 70px;
}
.container-footer{
    width: 1300px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.logo-footer{
    align-self: center;
    width: 100px;
    min-height: 30px;
}
.ita{
    width: 22px;
}
.language, .social{
    max-width: 300px;
    align-self: flex-start;
    padding-bottom: 30px;
}
.social{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}
i{
    margin-right: 15px;
}
.footerlist{
    display: flex;
    flex-direction: column;
}
.footerelements-purple{
    color: purple;
}
#Button{
    align-self: center;
    width: 100px;
    min-height: 40px;
    background-color: rgba(142,161,225,255);
    color: white;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: #6f7dac;

}
